/* main colors */
/* line 9, ../sass/style.scss */
body {
  background-color: #ecf0f1;
  font-family: 'Work Sans', sans-serif;
}

/* line 14, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

/* line 18, ../sass/style.scss */
.invisible {
  opacity: 0;
}

/* line 22, ../sass/style.scss */
.underline {
  text-decoration: underline;
}

/*clean button */
/* line 27, ../sass/style.scss */
.button-clean {
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

/* header */
/* line 38, ../sass/style.scss */
.main-header a, .main-header nav {
  background-color: #1A2226 !important;
}

/* line 43, ../sass/style.scss */
.skin-black .sidebar-menu > li.header {
  color: black;
  background: #ffe33b;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* borders weg */
/* line 53, ../sass/style.scss */
.skin-black .main-header > .navbar > .sidebar-toggle {
  color: white;
  border-right: 0px;
}

/* line 58, ../sass/style.scss */
.skin-black .main-header > .logo {
  border-right: 0px;
}

/* overschrijving gele kleur */
/* line 64, ../sass/style.scss */
.bg-yellow {
  background-color: #FFAB08 !important;
}

/* logo's */
/* line 70, ../sass/style.scss */
#small-logo, #large-logo {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 76, ../sass/style.scss */
.logo-lg {
  text-align: left;
  color: white;
}
/* line 80, ../sass/style.scss */
.logo-lg .text {
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

/* status overzicht */
/* line 89, ../sass/style.scss */
.green {
  background-image: url("/images/wood-served.png") !important;
}

/* line 92, ../sass/style.scss */
.red {
  background-image: url("/images/wood-waiting.png") !important;
}

/* overzicht */
/* line 99, ../sass/style.scss */
.main-sidebar {
  min-height: 135%;
}

/* line 103, ../sass/style.scss */
.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #dd4b39;
  z-index: 1000;
  padding-right: 4px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 113, ../sass/style.scss */
.delete-button:hover, .delete-button:focus {
  color: red;
}
/* line 117, ../sass/style.scss */
.delete-button i {
  font-size: 16px;
}

/* overzicht tafels advanced */
/* line 124, ../sass/style.scss */
.client-logo {
  margin-left: 5px;
  margin-top: 5px;
  width: 15px;
}

/* line 131, ../sass/style.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 136, ../sass/style.scss */
#locationText {
  font-size: 0.8em;
}

/* line 142, ../sass/style.scss */
.modal .modal-footer-table {
  padding-top: 15px;
}
/* line 145, ../sass/style.scss */
.modal .modal-footer-table input, .modal .modal-footer-table select {
  margin-bottom: 15px;
  width: 50%;
}
/* line 153, ../sass/style.scss */
.modal .choiseWindow .choise-block {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  border-radius: 5px;
}
/* line 161, ../sass/style.scss */
.modal .choiseWindow .block-text {
  margin-bottom: 15px;
}

/* line 169, ../sass/style.scss */
.dashboard-advanced {
  margin: 0px 15px 0px 15px;
}

/* line 173, ../sass/style.scss */
.pointer {
  cursor: pointer !important;
}

/* line 176, ../sass/style.scss */
.empty-block-advanced {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #d2d6de;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 1;
  border: 1px solid #d2d6de;
}
/* line 189, ../sass/style.scss */
.empty-block-advanced:hover, .empty-block-advanced:focus {
  opacity: 0.5;
  cursor: pointer;
}
/* line 193, ../sass/style.scss */
.empty-block-advanced:hover .button-clean i, .empty-block-advanced:focus .button-clean i {
  color: white;
}
/* line 200, ../sass/style.scss */
.empty-block-advanced .button-clean i {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #747474;
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 45px;
}

/* line 218, ../sass/style.scss */
.filled-block-advanced {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #d2d6de;
  border: 1px solid #333;
}

/* line 230, ../sass/style.scss */
.table-block-advanced {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 234, ../sass/style.scss */
.table-block-advanced:hover, .table-block-advanced:focus {
  opacity: 0.8;
}

/* line 240, ../sass/style.scss */
.nohovereffect:hover, .nohovereffect:focus {
  opacity: 1;
}

/* block achtergronden */
/* line 246, ../sass/style.scss */
.wood {
  background-image: url("/images/wood.png");
}

/* line 250, ../sass/style.scss */
.food {
  background: #a3b66c;
  background-image: url("/images/food.png");
  border: 1px solid #a3b66c;
}

/* line 256, ../sass/style.scss */
.wall-horizontal {
  margin-top: 30%;
  margin-bottom: 30%;
  background-color: #333;
  padding-bottom: 40% !important;
}

/* line 266, ../sass/style.scss */
#decorationModal .wall-horizontal {
  margin-bottom: 20%;
  background-color: #333;
  padding-bottom: 40% !important;
}

/* line 274, ../sass/style.scss */
.wall-vertical {
  width: 40% !important;
  margin: 0px auto;
  background-color: #333;
}

/* overzicht tafels  simple */
/* line 282, ../sass/style.scss */
.info-box {
  margin-bottom: 13px;
}

/* line 286, ../sass/style.scss */
.subtitle-overzicht {
  font-size: 14px;
  font-weight: 300;
}
/* line 289, ../sass/style.scss */
.subtitle-overzicht:hover {
  cursor: pointer;
}

/* line 297, ../sass/style.scss */
.button-plus span i {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #747474;
}
/* line 304, ../sass/style.scss */
.button-plus:hover span i, .button-plus:focus span i {
  color: white;
}

/* line 311, ../sass/style.scss */
.info-box-empty {
  margin-top: -100px;
}
/* line 314, ../sass/style.scss */
.info-box-empty input {
  margin-top: 9px;
}
/* line 318, ../sass/style.scss */
.info-box-empty select {
  margin-top: 4px;
  margin-bottom: 0px;
}

/* forms */
/* line 328, ../sass/style.scss */
.box {
  background-color: white;
  border-top: 4px solid #ffe33b;
  border-radius: 5px;
  margin: 15px 0px;
  padding-bottom: 10px;
}
/* line 336, ../sass/style.scss */
.box .btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  background: #262626;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
}
/* line 349, ../sass/style.scss */
.box .btn:hover {
  background: #333333;
  text-decoration: none;
}
/* line 355, ../sass/style.scss */
.box .box-header {
  border-bottom: 1px solid #e0e0e0;
}
/* line 357, ../sass/style.scss */
.box .box-header h4 {
  padding: 0px 10px;
}
/* line 362, ../sass/style.scss */
.box form {
  margin: 20px;
}
/* line 366, ../sass/style.scss */
.box .badge {
  background-color: #ffe33b;
  color: black;
}

/* dashboard */
/* line 374, ../sass/style.scss */
.black-bg {
  background-color: #262626;
}

/* line 378, ../sass/style.scss */
.info-box i {
  color: white;
}

/* line 383, ../sass/style.scss */
.title h2 {
  margin-top: 5px;
}
/* line 387, ../sass/style.scss */
.title hr {
  border-top: 1px solid #a6a6a6;
}

/* bootstrap focus effect */
/* line 395, ../sass/style.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #595959;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

/* BUTTON */
/* line 420, ../sass/style.scss */
.custom-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  background: #262626;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
}

/* line 433, ../sass/style.scss */
.custom-button:hover {
  background: #333333;
  text-decoration: none;
  color: #ffffff;
}

/* line 439, ../sass/style.scss */
.alert {
  border-radius: 0px !important;
}
