/* main colors */
$yellow : #ffe33b;
$yellowDark : #FFAB08;
$lightblack : #262626;
$darkblue : #1A2226;



body {
    background-color: #ecf0f1;
   font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

.invisible {
  opacity: 0;
}

.underline {
  text-decoration: underline;
}
/*clean button */

.button-clean {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

/* header */

.main-header {
    a, nav {
        background-color: $darkblue !important;
    }
}

.skin-black .sidebar-menu > li.header {
    color: black;
    background: $yellow;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500; //medium
    font-size: 14px;
}

/* borders weg */ 

.skin-black .main-header > .navbar > .sidebar-toggle {
    color: white;
    border-right: 0px;
}

.skin-black .main-header > .logo {
    border-right: 0px;
}

/* overschrijving gele kleur */

.bg-yellow {
    background-color: $yellowDark !important;
}

/* logo's */

#small-logo , #large-logo {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-lg {
    text-align: left;
    color: white;
    
    .text {
        padding-left: 10px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
    }
}
/* overzicht */

.main-sidebar {
  min-height: 130%;
}

/* overzicht tafels advanced */ 

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#locationText{
    font-size: 0.8em;
}

#decorationModal {

  .modal-footer-table{
      padding-top: 15px;

      input, select {
        margin-bottom: 15px;
        width: 50%;
      }
  }

.choiseWindow {

    .choise-block {
      position: relative;
      width: 80%;
      height: 0;
      padding-bottom: 80%;
      border-radius: 5px;
    }

    .block-text {
      margin-bottom: 15px;

    }

  }
}

.dashboard-advanced {
    margin: 0px 15px 0px 15px;
}

.pointer{
    cursor: pointer !important;
}
.empty-block-advanced {

    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #d2d6de;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    opacity: 1;


    &:hover, &:focus {
      opacity: 0.5;
      cursor: pointer;

        .button-clean i {
           color: white;
        }
    }

    .button-clean {

        i {
          transition:all 0.5s ease;
          -webkit-transition:all 0.5s ease;
          color: #747474;

          width: 50%;
          height: 50%;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          font-size : 45px;
        }

    }

}

.filled-block-advanced {

    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #d2d6de;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;

    &:hover, &:focus {
        opacity : 0.8;
    }
}



/* block achtergronden */ 

.wood {
  background: #e5a76e;
  background-image: url("/images/wood.png");
}

.food {
  background: #a3b66c;
  background-image: url("/images/food.png");
}

.wall-horizontal {
    margin-top: 30%;
    margin-bottom: 30%;
    background-color: #37281b;
    padding-bottom: 40% !important; 
}    


#decorationModal {

  .wall-horizontal {
    margin-bottom: 20%;
    background-color: #37281b;
    padding-bottom: 40% !important; 
  }  

}

.wall-vertical {
    width : 40% !important; 
    margin: 0px auto;
    background-color: #37281b;
}

/* overzicht tafels  simple */

.info-box {
    margin-bottom: 13px;
}

.subtitle-overzicht{
    font-size: 14px;
    font-weight: 300;
    &:hover{
        cursor: pointer;
    }
}

.button-plus {


    span i {
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        color: #747474;
    }
    
    &:hover, &:focus {
        span i {
            color: white;
        }

    }
}

.info-box-empty {
    margin-top: -100px;
    
    input {
        margin-top: 9px;
    }
    
    select {
        margin-top: 4px;
        margin-bottom: 0px;
    }
}



/* forms */ 

.box {
    background-color: white;
    border-top: 4px solid $yellow;
    border-radius: 5px;
    margin: 15px 0px;
    padding-bottom: 10px;
    //padding: 10px;
    
    .btn {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400; 
      color: #ffffff;
      font-size: 14px;
      background: $lightblack;
      padding: 8px 18px 8px 18px;
      text-decoration: none;
    }

    .btn:hover {
      background: lighten($lightblack, 5);
      text-decoration: none;
    }

    
    .box-header {
        border-bottom: 1px solid #e0e0e0;
        h4 {
            padding: 0px 10px;
        }
    }
    
    form {
        margin: 20px;
    }
    
    .badge {
        background-color: $yellow;
        color: black;
    }
}

/* dashboard */ 

.black-bg {
        background-color: $lightblack;
}

.info-box i {
    color: white;
}

.title {
    h2 {
        margin-top: 5px;
    }
    
    hr {
        border-top: 1px solid lighten($lightblack, 50);
    }
}



/* bootstrap focus effect */ 
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: lighten($lightblack, 20);;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}



